.page_container {
  width: 80%;
  margin: auto;
  margin-bottom: 80px;
}
.Numbers {
  width: fit-content;
  margin: auto;
  font-size: 125px;
  font-weight: bold;
}
.button_number {
  width: fit-content;
  margin: auto;
}
.all_rights {
  display: flex;
  justify-content: space-around;
}
/* .all_rights {
  display: flex;
  justify-content: space-between;
} */
/* .Image1 {
  margin-left: 62px;
} */
/* .second_right {
  padding: 0 254px;
} */
/* .last_btn_mobile {
  margin-top: 50px;
} */
/* .button_both {
  margin-left: 492px;
} */
@media all and (max-width: 767px) {
  .page_container {
    padding: 0 0;
  }
  .all_rights {
    display: flex;
    flex-direction: column;
  }
  .side_mobile {
    margin-left: 132px;
  }
  .first_mobile {
    margin-left: 65px;
  }
  .third_mobile {
    margin-left: 132px;
  }
  .last_btn_mobile {
    margin-left: 20px;
  }
}
