.First_cont {
  display: block;
}
.picture_process {
  display: flex;
}
.Image {
  display: inline;
  margin-top: 10px;
}
.Page_container {
  padding: 0 207px;
}

@media all and (max-width: 767px) {
  .Page_container {
    padding: 0 0px;
  }
  .picture_process {
    display: block;
  }
  .Image {
    margin-top: -150px;
    margin-bottom: 100px;
  }

  /* .Second-process {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 44px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    color: #000000;
  } */
}
