.First_cont {
  display: block;
}
.picture_process {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 1px;
}
.Image {
  display: inline;
  margin-top: 10px;
}
.Page_container {
  padding: 0 207px;
}
/* .button_our {
  width: fit-content;
  margin: auto;
} */

@media all and (max-width: 767px) {
  .picture_process {
    display: block;
  }

  .Second-process {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }
  /* .Image {
    width: 100%;
  } */
}
