.box1 {
  width: 326px;
  background-color: #009adc;
  margin-bottom: 5px;
  position: relative;
  margin: 10px;
}

.circle1 {
  background-color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin-left: 10px;
}
.Image_Text {
  display: flex;
  flex-direction: column;
}
.Text_Image {
  display: flex;
  align-items: center;
  padding: 9px;
}
.Image {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  margin-left: 10px;
}
.Image_our {
  width: fit-content;
  margin: auto;
}
@media all and (max-width: 767px) {
  .box1 {
    width: 326px;
  }
}
