.box1 {
  /* height: fit-content; */
  width: 326px;
  background-color: #009adc;
  margin-bottom: 5px;
  position: relative;
  margin: 10px;
}
.circle1 {
  background-color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 10px;
  margin-left: 10px;
  background-image: url("../../Photos/ux-ui.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
.Image_Text {
  display: flex;
  flex-direction: column;
}

.Image {
  position: absolute;
  top: 25px;
  left: 35px;
}
/* .text {
  position: relative;
  left: 129px;
  bottom: 66px;
  width: fit-content;
} */
