.boxes {
  height: 311px;
  width: 489px;
  background-color: #009adc;
  padding: 0 10px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.image {
  margin-top: 30px;
}
@media all and (max-width: 767px) {
  .boxes {
    height: 260px;
    width: 300px;
  }
}
