@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.First-process {
  font-family: Inter;
  font-size: 14px;
  color: #000000;
}

.Second-process {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.Third-process {
  font-family: Inter;
  font-size: 15px;
  color: #000000;
}
.button-Process {
  width: 157px;
  height: 44px;
  width: fit-content;
  margin: auto;
  border-color: #1c93c1;
  background: #1c93c1;
}
.inside-Process {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.blue-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  position: absolute;
  margin: -81px 118px;
  color: #000000;
}
.alone-text {
  font-family: Inter;
  font-size: 36px;
  transform: translate(0%, -30%);
  position: relative;
  top: 50%;
  width: fit-content;
  margin: auto;
}
/* .big-blue-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  margin: -235px 143px 19px 191px;
}
.big-blue-paragraph {
  margin: 36px 38px 123px 37px;
} */
.right-now-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.first1-paragraph {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  width: fit-content;
  margin: auto;
}
.second1-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.first2-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
.second2-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.right-button1 {
  width: 240px;
  height: 44px;
  left: 600px;
  top: 2714px;
  background: #1c93c1;
  border-color: #1c93c1;
  margin-left: -108px;
}
.btn-color1 {
  color: white;
}

.first3-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
.second3-paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.Our_process_word {
  margin: 99px 116px 119px 118px;
  height: 21px;
  width: 261px;
  left: 118px;
  top: 99px;
  border-radius: null;
  text-decoration: underline;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

@media all and (max-width: 767px) {
  .alone-text {
    font-family: Inter;
    font-size: 36px;
    padding: 10px;
  }
  .button-Process {
    width: fit-content;
    margin: auto;
  }
  .right-now-text {
    font-family: Inter;
    font-size: 30px;
    font-weight: 200;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 30px;
  }

  .big-blue-text {
    margin-left: 142px;
  }

  .Our_process_word {
    margin: 99px 116px 119px 77px;
  }
  .right-button1 {
    width: fit-content;
    margin: auto;
  }
}
