.main_footer {
  background-image: url("../Photos/Map.png");
  color: white;
  background-color: #20262b;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.first_text {
  position: absolute;
  right: 594px;
  top: 66px;
}
.second_text {
  left: 582px;
  position: relative;
  bottom: -32px;
}

.btn {
  width: 157px;
  height: 44px;
  top: 316px;
  left: 202px;
  background-color: #1c93c1;
  margin-top: 20px;
  color: white;
  border-color: #1c93c1;
}
.in {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.main_footer ul {
  list-style: none;
  /* margin: 400px 750px; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main_footer li {
  margin-left: 3rem;
  margin-top: 30px;
}

.main_footer a {
  text-decoration: none;
  color: white;
}
.copy_text {
  position: absolute;
}
.low_footer {
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.list_footer {
  position: relative;
}
.copy_text {
  position: relative;
  left: 291px;
}
.logo {
  position: absolute;
  right: 900px;
  top: 20px;
}
@media all and (max-width: 767px) {
  .second_text {
    left: 150px;
    position: relative;
    bottom: 0;
  }
  .low_footer {
    position: absolute;
    right: 18px;
  }
  .first_text {
    position: absolute;
    right: 161px;
    top: 34px;
  }
  .logo {
    position: absolute;
    right: 100px;
    top: 103px;
  }
}
